# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

scripts/__pycache__
build/Makefile
build/obj
build/gengine*
build/*.dll
build/*.exe
build/error.txt
libcef.so
deps/*/lib*/*.so*
deps/*/lib*/*.dll
deps/*/lib*/*.lib
deps/*/lib*/*.txt
deps/*/lib*/libcef_dll_wrapper*
*.tar.gz
*.data
deps/**/*.a
deps/**/*.make
deps/**/Makefile
deps/**/obj/
debug.log
*.config
*.creator
*.creator.user
*.files
*.includes
*.log
generated
/test/packed-*
