[submodule "deps/common/libembindcefv8"]
	path = deps/common/libembindcefv8
	url = https://github.com/gogoprog/libembindcefv8.git
[submodule "deps/common/Ash-Haxe"]
	path = deps/common/Ash-Haxe
	url = https://github.com/gogoprog/Ash-Haxe.git
