#include "embindcefv8.h"

#include <Urho3D/Core/Context.h>
#include <Urho3D/Graphics/StaticModel.h>

using namespace Urho3D;

{{#classes}}
EMBINDCEFV8_DECLARE_CLASS({{class_name}}, {{class_base_name}});
{{/classes}}

EMBINDCEFV8_BINDINGS(components)
{
    {{#classes}}
    embindcefv8::Class<{{class_name}}>("{{class_name}}")
        {{#methods}}
        .method("{{method_name_camel_case}}", static_cast<{{{result_full_type}}} ({{class_name}}::*)({{#arguments}}{{{argument_full_type}}}{{comma}}{{/arguments}}){{method_const_qualifier}}>(&{{class_name}}::{{method_name}}))
        {{/methods}}
        ;
    {{/classes}}
}