package gengine.components;

class {{class_name}}
{
    {{#methods}}
    inline public function {{method_name_camel_case}}({{#arguments}}{{argument_name}}:{{argument_type}}{{comma}}{{/arguments}}):{{result_type_pascal_case}}
    {
    }

    {{/methods}}
}